# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env
.env.*

# VSCode
.vscode/

# Jupyter Notebooks
.ipynb_checkpoints/

# Dados temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Outros
*.sqlite3
*.db

# HuggingFace cache
huggingface_cache/

# Arquivos de configuração pessoais
*.local
